<div style="text-align:center;">
  <h1>This Restaurant's Menus</h1>
  </br>
  </br>
  <ui>
    <% @menus.each do |menu| %>
    <li>
      <a href="/menus/<%= menu.id %>">
        <%= menu.name %>
      </a>
    </li>
    <% end %>
  </ui>
  </br>
  </br>
  <hr style="border-top: 3px solid #bbb;">
  </br>
  <%= link_to "New Menu", new_menu_path %>
</div>